/**
 * Description: 登陆界面
 * Author: Mr.ZhaoNan
 * Date: 2021/2/25 11:27:49
 * Version: 1.0
 */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 14px Microsoft YaHei;
    -webkit-text-size-adjust:100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: #000;
}
.div-login{
    margin: 100px auto 0;
    width: 1200px;
    height: 640px;
    border: #1E9FFF 1px solid;
    z-index: 1;
}
.left-login{
    display: inline-block;
    width: 740px;
    height: 100%;
}
.right-login{
    display: inline-block;
    vertical-align: top;
    width: 450px;
    height: 100%;
    color: white;
    border-left: #1E9FFF 1px solid;
}
.login-user-icon{
    height: 200px;
}
.login-form{
    width: 100%;
}
#canvas {
    position: fixed;
    z-index: -10;
    top: 0;
    height: 100vh;
    display: block;
    opacity: 1;
}

.customize-layui-btn{
    width: 100%;
}

.layui-form-checkbox[lay-skin=primary] span{
    color: white;
}
.login-form .layui-form-item{
    padding-right: 80px;
}