<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learnself.mapper.EsAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.learnself.entity.EsAdmin">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="roles" property="roles" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, password, roles, update_time, updater, create_time, creator, delete_flag
    </sql>

</mapper>
