<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learnself.mapper.EsTeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.learnself.entity.EsTeacher">
        <id column="tch_id" property="tchId" />
        <result column="tch_name" property="tchName" />
        <result column="user_id" property="userId" />
        <result column="tch_position" property="tchPosition" />
        <result column="tch_class" property="tchClass" />
        <result column="tch_school" property="tchSchool" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tch_id, tch_name, user_id, tch_position, tch_class, tch_school, update_time, updater, create_time, creator, delete_flag
    </sql>

</mapper>
